<sph-loader-toolbar>
  <mat-drawer-container>
    <mat-drawer-content class="container">
      <h4>Simple</h4>
      <sph-loader-loader-dots> </sph-loader-loader-dots>
      <sph-loader-loading-circle> </sph-loader-loading-circle>
      <h4>SVG Loaders</h4>
      <sph-loader-loader> </sph-loader-loader>
      <sph-loader-letter-dash> </sph-loader-letter-dash>
      <sph-loader-picture-draw> </sph-loader-picture-draw>
      <sph-loader-cog-spin> </sph-loader-cog-spin>
    </mat-drawer-content>
  </mat-drawer-container>
</sph-loader-toolbar>
