<div>
  <mat-toolbar color="primary">
    <button mat-icon-button class="logo" aria-label="Menu button">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="flex-spacer"></span>
    <span>Custom Loader App</span>
    <span class="flex-spacer"></span>
    <button
      mat-icon-button
      aria-label="Toggle dark mode"
      (click)="toggleDarkMode()"
    >
      <mat-icon *ngIf="!darkMode">dark_mode</mat-icon>
      <mat-icon *ngIf="darkMode">light_mode</mat-icon>
    </button>
  </mat-toolbar>
  <ng-content></ng-content>
</div>
